.roadmap {
  position: relative;
  min-height: 650px;
  color: white;
  background: url("../../assets/images/roadmap.png") no-repeat center / cover;
  margin: 0 -50px;
  margin-bottom: 100px;
  padding: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.roadmap h2 {
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.roadmap-list {
  display: flex;
  padding-top: 50px;
}

.roadmap-list li {
  width: 190px;
  position: relative;
  font-size: 14px;
  hyphens: auto;
  /*background: var(--blue);*/
}

.roadmap-list li p {
  position: relative;
  z-index: 5;
}

.roadmap-list li:before {
  content: url("../../assets/images/roadmap-circle.png");
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
}

.dashed-line {
  bottom: 125px;
  right: -75px;
  position: absolute;
  width: 75%;
  transform: rotate(-5deg);
}

.dashed-line2 {
  top: 80px;
  right: -65px;
  position: absolute;
  width: 75%;
  transform: rotate(85deg);
}

.roadmap-list li:nth-child(even) {
  padding-top: 170px;
}

.roadmap-list li:nth-child(even):before {
  content: url("../../assets/images/roadmap-circle-noshadow.png");
  top: 0;
}

.roadmap-list li span {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

@media screen and (max-width: 1400px) {
  .roadmap-list li {
    font-size: 12px;
    width: 140px;
  }

  .roadmap-list li p {
    /*padding-bottom: 50px;*/
  }

  .roadmap-list li:nth-child(odd) .text {
    top: -50px;
    position: relative;
  }

  .dashed-line {
    bottom: 153px;
    right: -50px;
    transform: rotate(-9deg);
  }

  .dashed-line2 {
    transform: rotate(90deg);
    bottom: 130px;
    right: -55px;
  }
}

@media screen and (max-width: 1000px) {
  .text {
    width: 250px;
  }

  .roadmap-list {
    flex-direction: column;
    padding-top: 0;
  }

  .roadmap-list li {
    width: 300px;
    min-height: 125px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .roadmap-list li:nth-child(even) {
    padding-top: 0;
  }

  .roadmap-list li:before {
    top: -8px;
    left: 92px;
    transform-origin: 50px 100px;
    transform: rotate(142deg);
  }

  .roadmap-list li:nth-child(even) .text {
    position: relative;
    left: 230px;
    text-align: left;
  }

  .roadmap-list li:nth-child(odd) .text {
    top: 0;
    right: 230px;
    text-align: right;
  }

  .roadmap-list li:last-child:before {
    display: none;
  }

  .roadmap-list li:nth-child(even):before {
    top: -9px;
    right: 37px;
    transform: rotate(42deg);
  }

  .dashed-line,
  .dashed-line2 {
    display: none;
  }
}
