.mobile-transaction {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  gap: 15px;
}

.mobile-transaction p {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

.mobile-transaction p:nth-child(2) {
  font-weight: 600;
  font-size: 22px;
}
