.advantage {
  margin-bottom: 100px;
}

.advantage-title {
  margin-bottom: 85px;
}

.advantage-container {
  max-width: 1440px;
  margin: 0 auto;
}

.advantage-text {
  font-size: 16px;
  max-width: 650px;
  line-height: 1.6;
  margin-right: 200px;
}

.statistic-list {
  display: flex;
  background: var(--blue);
  color: white;
  padding: 25px;
  justify-content: center;
  border-radius: 15px;
  position: relative;
}

.statistic-list::before {
  content: "";
  position: absolute;
  top: 5%;
  left: -1%;
  background: var(--alpha-blue);
  width: 102%;
  height: 90%;
  border-radius: 15px;
  z-index: -1;
}

.statistic-list li {
  width: 100%;
  text-align: center;
}

.statistic-list li:not(:last-child) {
  border-right: 3px solid white;
}

.statistic-list span {
  font-size: 60px;
  font-weight: 600;
}

.statistic-list p {
  font-weight: 500;
  color: white;
}

.statistic-list span::after {
  content: "+";
  color: white;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 75px;
  font-size: 16px;
}

.advantages-list__item > div {
  /*display: flex;*/
  /*align-items: center;*/
  margin-bottom: 25px;
}

.advantages-list__item > div img {
  margin-right: 25px;
  margin-bottom: 15px;
}

.advantages-list__item > div h3 {
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .advantage-text {
    margin-right: 75px;
    font-size: 15px;
  }

  .statistic-list {
    grid-gap: 25px;
  }

  .statistic-list span {
    font-size: 50px;
  }

  .advantages-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .advantage-wrapper {
    flex-direction: column;
  }

  .advantage-text {
    order: 1;
    margin-right: 0;
  }

  .statistic-list {
    margin-bottom: 40px;
    grid-gap: 0;
    row-gap: 30px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .statistic-list li:not(:last-child) {
    border-right: none;
  }

  .statistic-list span {
    font-size: 35px;
  }
}

@media screen and (max-width: 650px) {
  .advantages-list {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .advantages-list li:not(:last-child) {
    margin-bottom: 30px;
  }

  .advantage-title {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 450px) {
  .statistic {
    width: 100%;
  }

  .statistic-list {
    grid-template-columns: 1fr 1fr;
  }
}
