.plans-wrapper {
  text-align: center;
  margin-bottom: 100px;
}

.plans-list {
  padding: 0 100px;
}

.plans-title {
  margin-bottom: 100px;
  position: relative;
  max-width: 690px !important;
}

.plans-title:before {
  content: url("../../assets/images/section-title.svg");
  position: absolute;
  width: 100%;
  /*height: 10px;*/
  top: 20px;
  left: 50%;
  transform: translateX(-50%) scaleY(-1);
  z-index: -1;
}

.project-info {
  width: 100%;
}

@media screen and (max-width: 1350px) {
  .plans-list {
    padding: 0 30px;
  }
}

@media screen and (max-width: 750px) {
  .plans-list {
    padding: 0;
  }
}
