.slider-wrapper {
  grid-area: b;
}

.platform-balance {
  display: flex !important;
  flex-direction: column;
  background: var(--blue);
  color: white;
  padding: 20px;
  border-radius: 30px;
  position: relative;
  margin-right: 20px;
  margin-bottom: 30px;
  height: 100%;
}

.platform-balance:before {
  content: "";
  height: 50%;
  width: 100%;
  background: linear-gradient(
    29deg,
    rgba(22, 119, 255, 1) 0%,
    rgba(178, 210, 255, 1) 100%
  );
  position: absolute;
  top: -6px;
  left: 0;
  z-index: -1;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.title {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  min-height: 50px;
  display: flex;
}

.platform-name {
  font-size: 20px;
  font-weight: 600;
  font-family: Fira Mono;
}

.platform-statistic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-top: auto;
}

.platform-statistic p {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 3px;
  font-size: 12px;
  font-family: Fira Mono;
}

.platform-statistic span {
  font-weight: 600;
  font-size: 16px;
  font-family: Fira Mono;
}

@media screen and (max-width: 1500px) {
  .platform-statistic p {
    font-size: 12px;
  }
  .platform-statistic span {
    font-size: 14px;
  }
}

@media screen and (max-width: 750px) {
  .platform-balance {
    padding: 15px;
  }

  .platform-name {
    font-size: 18px;
  }

  .platform-statistic {
    grid-gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .platform-balance {
    padding: 25px;
  }

  .platform-name {
    font-size: 20px;
  }

  .platform-statistic p {
    font-size: 14px;
  }

  .platform-statistic span {
    font-size: 18px;
  }
}
