.roadmap {
  position: relative;
  min-height: 650px;
  color: white;
  margin-bottom: 100px;
  padding: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cls-1 {
  fill: none;
  stroke-miterlimit: 12;
  stroke-width: 4px;
  stroke-dasharray: 20 10;
  stroke: url(#linear-gradient);
  filter: url(#glow);
}

.roadmap h2 {
  font-size: clamp(30px, 5.5vw, 70px);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.roadmap-list {
  display: flex;
  padding-top: 50px;
}

.roadmap-list li {
  width: 190px;
  position: relative;
  font-size: 14px;
  hyphens: auto;
  /*background: var(--blue);*/
}

.roadmap-list li p {
  position: relative;
  z-index: 5;
}

.roadmap-list li:before {
  content: url("../../../../assets/images/roadmap-circle.png");
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
}

.dashed-line {
  top: 80px;
  right: -72px;
  position: absolute;
  width: 70%;
  /*transform: rotate(4deg);*/
  /*box-shadow: 15px 15px 40px 20px var(--blue);*/
}

.dashed-line2 {
  top: 80px;
  right: -60px;
  position: absolute;
  width: 70%;
  transform: rotate(90deg);
}

.roadmap-list li:nth-child(even) {
  padding-top: 170px;
}

.roadmap-list li:nth-child(even):before {
  content: url("../../../../assets/images/roadmap-circle-noshadow.png");
  top: 0;
}

.roadmap-list li span {
  display: block;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

@media screen and (min-width: 1400px) {
  .roadmap li:first-child:before {
    transform: rotate(-18deg);
    left: 12px;
    top: 77px;
  }

  .roadmap li:first-child .text {
    position: relative;
    left: -40px;
  }

  .roadmap li:last-child:before {
    transform: rotate(18deg);
    left: 45px;
    top: 77px;
  }

  .roadmap li:last-child .text {
    width: 240px;
    position: relative;
    right: -20px;
  }
}

@media screen and (max-width: 1400px) {
  .roadmap-list li {
    font-size: 12px;
    width: 140px;
  }

  .roadmap-list li:nth-child(odd) .text {
    top: -50px;
    position: relative;
  }

  .dashed-line {
    right: -44px;
  }

  .dashed-line2 {
    transform: rotate(90deg);
    right: -55px;
  }
}

@media screen and (max-width: 1000px) {
  .text {
    width: 250px;
  }

  .roadmap {
    padding-bottom: 70px;
  }

  .roadmap-list {
    flex-direction: column;
    padding-top: 0;
  }

  .roadmap-list li {
    width: 300px;
    min-height: 125px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .roadmap-list li:nth-child(even) {
    padding-top: 0;
  }

  .roadmap-list li:before {
    top: -8px;
    left: 92px;
    transform-origin: 50px 100px;
    transform: rotate(142deg);
  }

  .roadmap-list li:nth-child(even) .text {
    position: relative;
    left: 230px;
    text-align: left;
  }

  .roadmap-list li:nth-child(odd) .text {
    top: 0;
    right: 230px;
    text-align: right;
  }

  .roadmap-list li:last-child:before {
    display: none;
  }

  .roadmap-list li:nth-child(even):before {
    top: -9px;
    right: 37px;
    transform: rotate(42deg);
  }

  .dashed-line,
  .dashed-line2 {
    display: none;
  }

  .roadmap-list li:last-child:before {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .roadmap {
    padding-right: 70px;
    padding-bottom: 100px;
  }

  .roadmap h2 {
    margin-left: 70px;
  }

  .roadmap-list li {
    width: 235px;
    height: 127px;
  }

  .text {
    width: 180px;
    right: 160px;
  }

  .roadmap-list li:nth-child(odd) .text {
    right: 165px;
  }

  .roadmap-list li:nth-child(even) .text {
    left: 215px;
  }

  .roadmap-list li:before {
    top: -18px;
    transform: rotate(151deg);
  }

  .roadmap-list li:nth-child(even):before {
    transform: rotate(26deg);
    top: -5px;
    right: 14px;
  }
}

@media screen and (max-width: 600px) {
  .roadmap {
    padding-right: 0;
  }

  .roadmap-list li {
    height: 150px;
  }

  .roadmap-list li:before {
    right: 24px;
    transform: rotate(216deg);
    left: auto;
    top: 6px;
  }

  .roadmap-list li:nth-child(odd) .text {
    top: -20px;
    right: 105px;
  }

  .roadmap-list li:nth-child(even) .text {
    top: -20px;
    left: 75px;
  }

  .roadmap h2 {
    margin-left: -25px;
    max-width: 400px;
  }

  .roadmap-list li:nth-child(even):before {
    transform: rotate(-34deg);
    top: -6px;
    right: 107px;
  }
}
