.countdown {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}

.hours span,
.minutes span,
.seconds span {
  font-weight: 600;
}

.countdown div:not(:last-child) {
  margin-right: 15px;
}

.expanded-row-timer {
  padding: 0;
  font-size: 12px;
}

@media screen and (max-width: 525px) {
  .countdown {
    grid-template-columns: 80px 80px 80px;
  }

  .expanded-row-timer .countdown {
    grid-template-columns: 36px 58px 52px;
  }

  .expanded-row-timer .countdown div:not(:last-child) {
    margin-right: 0px;
  }
}
