.countdown {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}

.hours span,
.minutes span,
.seconds span {
  font-weight: 600;
}

.countdown div:not(:last-child) {
  margin-right: 15px;
}

@media screen and (max-width: 525px) {
  .countdown {
    grid-template-columns: 80px 80px 80px;
    /*justify-content: space-between;*/
  }
}
