.deposit h3 {
  font-size: 22px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.deposit h3 span {
  font-size: 40px;
  font-weight: 600;
  color: var(--blue);
  margin-right: 10px;
}

.choose-tariff-plan {
  margin-bottom: 60px;
}

.modal-content {
  padding: 25px;
  font-size: 18px;
}

.title-modal {
  font-size: 22px;
  font-weight: 600;
}

.modal-content p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.modal-content p span {
  font-weight: 500;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .modal-content {
    padding: 0;
    padding-bottom: 10px;
  }
}
