.deposit h3 {
  font-size: 22px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.deposit h3 span {
  font-size: 40px;
  font-weight: 600;
  color: var(--blue);
  margin-right: 10px;
}

.content {
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px dashed rgb(217, 217, 217);
  border-radius: 10px;
  padding: 25px;
}

.deposit-steps {
  margin-bottom: 30px;
}

.confirm {
  line-height: 1.2;
  font-size: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 40%;
  margin: 0 auto;
  border-radius: 15px;
}

.confirm-info {
  text-align: left;
  background-color: var(--blue);
  padding: 35px;
  color: white;
  border-radius: 15px;
  margin-bottom: 35px;
}

.confirm-info p {
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.confirm-info p:not(:last-child) {
  margin-bottom: 10px;
}

.confirm-info span {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 15px;
}

.confirm-animation {
  max-width: 300px;
}

.plan {
  font-size: 26px !important;
}

.confirm p {
  display: flex;
  justify-content: space-between;
}

.transaction-number {
  font-size: 16px;
  font-weight: 500;
}

.information {
  max-width: 700px;
  margin: 0 auto;
  background-color: white;
  padding: 25px;
  padding-bottom: 100px;
  position: relative;
}

.information-list {
  font-size: 30px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-bottom: 40px;
  text-align: left;
}

.information-list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.information-list li:not(:last-child) {
  font-weight: 500;
  /*color: rgba(0, 0, 0, 0.7);*/
  margin-bottom: 10px;
}

.date {
  font-size: 16px;
}

.information-list p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.information-list p img {
  margin-right: 10px;
}

@media screen and (max-width: 850px) {
  .content {
    padding: 10px;
    padding-bottom: 25px;
  }

  .disclaimer {
    font-size: 12px;
  }

  .information-list {
    font-size: 22px;
  }

  .information-list p {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .instruction {
    font-size: 12px;
  }
}
