.my-account-layout {
  min-height: 100vh;
  position: relative;
}

.my-account-wrapper {
  width: 100%;
  padding: 50px;
  /*padding-left: 260px;*/
}

/*.header {*/
/*  padding-inline: 35px !important;*/
/*}*/

.my-account footer {
  text-align: center;
  padding: 24px 200px 24px 50px !important;
}

.right-sider {
  position: absolute !important;
  right: 0;
  height: calc(100% - 80px);
  top: 80px;
  color: white;
  margin-bottom: -66px;
}

.right-sider p {
  padding: 15px;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 2px solid var(--blue);
}

.left-sider {
  /*height: 100%;*/
  /*width: 150px !important;*/
  /*max-width: 150px !important;*/
  z-index: 10;
  /*position: fixed !important;*/
  /*padding-top: 90px;*/
}

.active {
  background: var(--blue);
}

.menu-icon span {
  font-size: 18px !important;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1200px) {
  .my-account-wrapper {
    width: 100%;
    /*margin-left: 80px;*/
    padding: 50px 20px 0 100px;
  }

  .left-sider {
    position: fixed !important;
    height: 100vh;
    /*overflow: hidden;*/
  }

  .right-sider {
    display: none;
  }

  /*.logotype {*/
  /*  position: absolute;*/
  /*  top: 0;*/
  /*  left: 0;*/
  /*}*/
}

@media screen and (max-width: 561px) {
  .my-account-wrapper {
    padding: 50px 15px 25px 15px;
  }

  .left-sider {
    overflow: initial;
    z-index: 99;
  }
}
