.my-account-layout {
  min-height: 100vh;
  position: relative;
}

.my-account-wrapper {
  width: 100%;
  padding: 50px;
}

/*.header {*/
/*  padding-inline: 35px !important;*/
/*}*/

.logotype {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.my-account footer {
  text-align: center;
  padding: 24px 200px 24px 50px !important;
}

.right-sider {
  position: absolute !important;
  right: 0;
  height: calc(100% - 80px);
  top: 80px;
  color: white;
  margin-bottom: -66px;
}

.right-sider p {
  padding: 15px;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 2px solid var(--blue);
}

.left-sider {
  /*max-height: 110%;*/
  z-index: 10;
}

.active {
  background: var(--blue);
  color: white;
}

.menu-icon {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .my-account-wrapper {
    width: 100%;
    /*margin-left: 80px;*/
    padding: 50px 20px 0 100px;
  }

  .left-sider {
    position: fixed !important;
    height: 100vh;
    overflow: hidden;
  }

  .right-sider {
    display: none;
  }
}

@media screen and (max-width: 561px) {
  .my-account-wrapper {
    padding: 50px 15px 25px 15px;
  }

  .left-sider {
    overflow: initial;
    z-index: 99;
    padding-top: 0;
  }
}
