.hero-banner-wrapper {
  background-image: url("../../assets/images/hero-banner.png"), url("../../assets/images/main-bg.svg");
  background-position: right -200px top 180px, -250px 100px;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: contain, 1200px;
  padding: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /*text-align: right;*/
  color: white;
  min-height: 860px;
}

.lottie-animation {
  width: 55%;
  margin-left: 50px;
}

.texts h1 {
  font-weight: 600;
  font-family: "Secular One";
  font-size: 8.5vw;
  /*margin-bottom: 120px;*/
  line-height: 1;
}

.texts p {
  font-size: 18px;
  max-width: 750px;
  font-weight: 500;
  background: var(--blue);
  padding: 20px;
  border-radius: 25px;
}

.hero-banner-wrapper img {
  object-fit: cover;
}

@media screen and (max-width: 1250px) {
  .hero-banner-wrapper {
    padding: 100px 45px 0 45px;
    min-height: 600px;
  }

  .texts p {
    max-width: 800px;
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .hero-banner-wrapper {
    min-height: 600px;
    padding: 0;
    padding-top: 50px;
    margin-bottom: 45px;
    background-size: 90%;
    background-position: right 150px, -250px 50px;
  }

  .lottie-animation {
    position: absolute;
    z-index: -1;
    /*top: 120px;*/
    /*left: 80px;*/
  }

  .texts {
    width: 100%;
  }

  .texts h1 {
    /*font-size: 65px;*/
    /*margin-bottom: 275px;*/
    text-align: center;
  }

  .texts p {
    font-size: 14px;
    text-align: center;
    max-width: initial;
  }
}

@media screen and (max-width: 600px) {
  .hero-banner-wrapper {
    min-height: 375px;
  }

  .lottie-animation {
    top: 110px;
    left: 30px;
  }

  /*  .texts h1 {
    margin-bottom: 160px;
  }*/
}

@media screen and (max-width: 425px) {
  .texts p {
    font-size: 12px;
  }
}
