.hero-banner-wrapper {
  background-image: url("../../assets/images/hero-banner-bg.png"), url("../../assets/images/TEST.png");
  background-color: var(--dark-blue);
  background-position: top 0 left, top 0px right -100px;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 70vw;
  margin-bottom: 100px;
  justify-content: center;
  color: white;
  height: 55vw;
  position: relative;
  top: -100px;
  padding-left: 80px;
  padding-top: 115px;
}

.background {
  position: absolute;
  z-index: 1;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
}

.background-dubai {
  position: absolute;
  top: calc(50% - 50px);
  transform: translateY(calc(-50% + 100px));
  right: 0;
  width: clamp(500px, 50vw, 1100px);
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
}

.background-dubai img {
  object-fit: cover;
  width: 100%;
  z-index: 2;
}

.lottie-animation {
  position: absolute;
  top: 75px;
  left: 0;
  width: 48%;
  opacity: 0;
}

.texts {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  z-index: 3;
}

.texts h1 {
  font-weight: 600;
  font-family: "Secular One";
  font-size: clamp(36px, 7.5vw, 130px);
  margin-bottom: 40px;
  max-width: 500px;
  line-height: 0.8;
  position: relative;
  z-index: 5;
}

.texts p {
  font-size: clamp(12px, 2.5vw, 16px);
  max-width: 47%;
}

.waves {
  position: absolute;
  width: 100%;
  bottom: clamp(-200px, -17vw, -150px);
  left: 0;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 130px;
  max-height: 250px;
  transform: scale(1, -1);
  opacity: 1;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media screen and (max-width: 1350px) {
  .hero-banner-wrapper {
    padding-left: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .hero-banner-wrapper {
    padding-left: 0;
    height: 65vw;
    min-height: 660px;
    margin-bottom: 70px;
  }

  .lottie-animation {
    width: 60%;
  }

  .background-dubai {
    top: calc(50% - 85px);
  }

  .waves {
    bottom: -17vw;
  }

  .texts {
    text-align: center;
    padding: 0 50px;
  }

  .texts h1 {
    max-width: 100%;
    margin-bottom: clamp(260px, 55vw, 340px);
  }

  .texts p {
    max-width: 100%;
    min-height: 115px;
  }
}

@media screen and (max-width: 600px) {
  .hero-banner-wrapper {
    min-height: 600px;
  }

  .background-dubai {
    width: clamp(300px, 90vw, 500px);
  }

  .texts {
    padding: 0 20px;
  }

  .waves {
    min-height: 100px;
    bottom: -10.5vh;
  }
}

@media screen and (max-width: 600px) {
}
