.hero-banner-wrapper {
  background-color: var(--dark-blue);
  padding-left: 80px;
  margin-bottom: 200px;
  justify-content: center;
  color: white;
  height: 50vw;
  position: relative;
}

.background {
  position: absolute;
  z-index: 1;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
}

.background-dubai {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: clamp(400px, 55vw, 1100px);
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
}

.background-dubai img {
  object-fit: cover;
  width: 100%;
  z-index: 2;
}

.lottie-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 48%;
  opacity: 0.1;
}

.texts {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  position: relative;
  z-index: 3;
}

.texts h1 {
  font-weight: 600;
  font-family: "Secular One";
  font-size: clamp(90px, 6.5vw, 112px);
  margin-bottom: 40px;
  line-height: 0.8;
  position: relative;
  z-index: 5;
}

.texts p {
  font-size: 16px;
  max-width: 550px;
  font-weight: 500;
  /*background: var(--blue);*/
  border-radius: 25px;
}

.hero-banner-wrapper img {
  object-fit: cover;
}

.waves {
  position: absolute;
  width: 100%;
  bottom: -227px;
  left: 0;
  /*height: 40vh;*/
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 130px;
  max-height: 250px;
  transform: scale(1, -1);
  z-index: -1;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1350px) {
  .texts p {
    font-size: 16px;
    position: relative;
    max-width: 400px;
    top: 50px;
  }

  .waves {
    bottom: -35%;
  }
}

@media screen and (max-width: 900px) {
  .hero-banner-wrapper {
    padding: 40px 15px 0 15px;
    margin-bottom: 45px;
    background-size: 80%;
    /*background-position: right top 16vw, center top 0;*/
    height: 73vw;
  }

  .background {
    top: -50px;
    width: 88%;
  }
  .lottie-animation {
    width: 70%;
  }

  .background-dubai {
    top: 50%;
    width: clamp(270px, 70vw, 1100px);
  }

  .texts {
    margin: 0 auto;
    justify-content: flex-start;
  }

  .texts h1 {
    max-width: initial;
    text-align: center;
    font-size: clamp(30px, 9.5vw, 75px);
    margin-bottom: 48vw;
  }

  .texts p {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    top: 0;
  }

  .waves {
    bottom: -17vw;
  }
}

@media screen and (max-width: 600px) {
  .hero-banner-wrapper {
    padding: 30px 15px 0 15px;
    height: 85vw;
    margin-bottom: 70px;
  }

  .background {
    top: 0;
  }

  .background-dubai {
    top: 45%;
  }

  .texts p {
    font-size: 12px;
  }

  .waves {
    bottom: -15vh;
  }
}

/*@media screen and (max-width: 425px) {*/
/*  .texts p {*/
/*    font-size: 12px;*/
/*  }*/
/*}*/
