.replenishment table {
  margin-bottom: 40px;
}

.information {
  font-size: 18px;
  max-width: 500px;
  background: var(--blue);
  padding: 20px;
  padding-left: 70px;
  color: white;
  border-radius: 15px;
  position: relative;
}

.information::before {
  content: "!";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 85px;
  font-weight: 600;
}

.button-back {
  margin-right: 35px;
}

.input {
  max-width: 500px;
}
.copy-button {
  margin-left: 30px;
}

.replenishment p {
  margin-bottom: 40px;
}

.replenishment table th,
td {
  padding: 15px;
}

.replenishment td:first-child {
  font-size: 20px;
  font-weight: 600;
}

.replenishment td {
  font-size: 14px;
}
