.plans {
  /*padding: 25px;*/
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  gap: 15px;
  padding-top: 15px;
}

.plan {
  height: 100%;
  border-radius: 20px;
  border: none;
  padding: 0;
}

.plan-card {
  transition: 0.5s;
  cursor: pointer;
  height: 100%;
  margin-left: -1px;
}

.plan-card > div {
  height: 100%;
}

.card-info {
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.plan-card img {
  border-radius: 20px;
  position: relative;
  object-fit: cover;
}

.background-image {
  position: relative;
}

.background-image > p {
  position: absolute;
  display: flex;
  /*top: 50%;*/
  /*left: 25px;*/
  transform: translateY(-50%);
  z-index: 5;
}

.plan-number {
  font-size: 24px;
  font-weight: 600;
  top: 50%;
  left: 25px;
  color: white;
}

.plan-payment {
  font-size: 14px !important;
  top: 35px;
  right: 20px;
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 5px 10px;
  font-weight: 500;
}

.background-image:before {
  content: "";
  width: 100%;
  height: calc(100% - 7px);
  color: var(--blue);
  background-color: var(--blue);
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0.8;
}

.plan-card span {
  color: var(--blue);
  font-weight: 600;
  font-size: 22px;
}

.plan-card > div {
  text-align: left;
}

.plan-card-info {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  /*flex-direction: column;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.plan-card-info p {
  font-weight: 500;
}

.plan:hover {
  box-shadow: 0px 0px 55px 5px rgba(22, 119, 255, 0.9);
}

.active {
  box-shadow: 0px 0px 55px 5px rgba(22, 119, 255, 0.9);
}

@media screen and (max-width: 1350px) {
  .plans {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33% 33% 33%;
  }
}

@media screen and (max-width: 1000px) {
  .plan-card span {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .plans {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .plan-card img {
    height: 90px;
  }

  .plan-card-info {
    font-size: 12px;
  }

  .plan-card-info span {
    font-size: 18px;
  }

  .plan-payment {
    right: 7px;
    top: 25px;
    font-size: 12px !important;
  }

  .plan-number {
    left: 19px;
    top: 63%;
  }

  .plan-card > div {
    padding: 15px !important;
  }
}
