.plan-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.table-row {
  /*background: var(--blue);*/
  cursor: pointer;
}

.plan-table th {
  font-weight: 600;
  font-size: 16px;
  padding: 25px;
}

.plan-table td {
  text-align: center;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /*color: var(--blue);*/
  /*font-weight: ;*/
}

.plans {
  width: 100%;
  padding: 15px 20px 0px 20px;
  display: flex;
  flex-direction: column;
}

.head-titles {
  display: flex;
}

.plan {
  /*display: block;*/
  height: 100%;
  border: none;
  padding: 30px !important;
  padding-bottom: 30px !important;
  border-radius: 20px !important;
  margin-left: 2px;
  background: none;
}

.plan-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
}

.plan-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: contain;
  /*margin-bottom: 20px;*/
}

.plan-name {
  font-weight: 600;
  color: black;
  z-index: 5;
  /*margin-bottom: 25px;*/
}

.plan-name p:nth-child(1) {
  font-size: 16px;
}

.plan-name p:nth-child(2) {
  font-size: 32px;
  font-weight: 600;
}

.card-info-wrapper {
  /*width: 100%;*/
  color: black;
  z-index: 5;
  display: flex;
  gap: 25%;
  /*grid-template-columns: 1fr 1fr;*/
  /*grid-template-rows: max-content max-content;*/
}

/*.card-info-wrapper div:before {*/
/*  content: "";*/
/*  width: 18px;*/
/*  height: 18px;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  background-image: url("../../../../assets/images/in-day.svg");*/
/*  background-repeat: no-repeat;*/
/*  background-position: center;*/
/*}*/

/*.card-info-wrapper div:nth-child(2):before {*/
/*  background-image: url("../../../../assets/images/days.svg");*/
/*}*/

/*.card-info-wrapper div:nth-child(3):before {*/
/*  background-image: url("../../../../assets/images/minmax.svg");*/
/*}*/

/*.card-info-wrapper div:nth-child(4):before {*/
/*  background-image: url("../../../../assets/images/minmax.svg");*/
/*}*/

.card-info {
  font-size: 14px;
  line-height: 1.8;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.card-info p {
  padding-left: 25px;
}

.card-info span {
  font-size: 22px;
  font-weight: 600;
}

.active {
  transition: 0.5s;
  background: var(--blue);
}

.active td {
  color: white;
}

.plan-payment {
  /*position: absolute;*/
  font-size: 14px;
  /*top: 50px;*/
  /*right: 50px;*/
  background-color: white;
  width: 200px;
  color: black;
  border-radius: 15px;
  padding: 0px 25px;
  font-weight: 500;
  z-index: 5;
}

@media screen and (max-width: 1350px) {
  .plans {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33% 33% 33%;
  }
}

@media screen and (max-width: 1000px) {
  .plan {
    padding: 20px !important;
  }

  .plan-name p:nth-child(2) {
    font-size: 24px;
  }

  .card-info {
    font-size: 12px;
  }

  .card-info span {
    font-size: 18px;
  }

  .plan-payment {
    right: 45px;
    top: 45px;
    font-size: 12px !important;
    padding: 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .plan-card img {
    height: 90px;
  }

  .card-info {
    font-size: 12px;
  }

  .card-info span {
    font-size: 18px;
  }
}
