.time-to-payment {
  grid-area: e;
  background: white;
  border-radius: 5px;
  color: var(--blue);
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-bottom: 50px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.wrapper svg {
  max-width: 170px !important;
}

.next-accrual span {
  font-size: 40px;
}

.next-accrual > p {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .next-accrual > p {
    font-size: 18px;
  }

  .next-accrual > div {
    position: relative;
    left: 40px;
  }

  .time-to-payment {
    padding: 10px 0;
  }

  .wrapper {
    flex-direction: column;
    padding: 20px 0;
    position: relative;
  }

  .wrapper svg {
    max-width: 70px !important;
    position: absolute;
    left: -45px;
    top: 18px;
  }
}
@media screen and (max-width: 1700px) {
  .time-to-payment {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 425px) {
  .wrapper svg {
    left: -25px;
  }
}
