.plans {
  padding-bottom: 10px;
  padding-top: 15px;
}

.plan {
  background: linear-gradient(79deg, rgba(66, 145, 255, 1) 0%, rgba(22, 119, 255, 1) 100%);
  border-radius: 20px;
  border: none;
  padding: 0;
}

.plan-name {
  font-weight: 600;
  min-height: 50px;
  color: white;
  z-index: 5;
  margin-bottom: 20px;
}

.plan-name p:nth-child(1) {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.plan-name p:nth-child(2) {
  font-size: clamp(1vw, 26px, 1.8vw);
  font-weight: 600;
}

.image-wrapper {
  position: relative;
}

.plan-image {
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}
.plan:nth-child(5) .plan-name p:nth-child(2) {
  font-size: clamp(1vw, 26px, 1.2vw);
}

.plan-card {
  padding: 20px;
}

.plan-card span {
  font-weight: 600;
  font-size: 22px;
  color: white;
}

.card-info-wrapper {
  width: 100%;
  color: white !important;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.card-info {
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
}

.card-info p {
  font-weight: 400;
  transition: 0.5s;
}

.active {
  box-shadow: 0px 0px 55px 5px rgba(22, 119, 255, 0.9);
}

.plan-payment {
  position: absolute;
  font-size: 14px;
  top: 15px;
  right: 15px;
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 5px 25px;
  font-weight: 500;
  z-index: 5;
}

@media screen and (max-width: 1350px) {
  .plans {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33% 33% 33%;
  }

  .plan-name p:nth-child(2) {
    font-size: clamp(1vw, 26px, 3vw);
    font-weight: 600;
  }

  .plan:nth-child(5) .plan-name p:nth-child(2) {
    font-size: clamp(1vw, 26px, 1.8vw);
  }
}

@media screen and (max-width: 1000px) {
  .plan-name p:nth-child(1) {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .plan-payment {
    font-size: 12px !important;
  }

  .plan-name p:nth-child(2) {
    font-size: clamp(1vw, 26px, 4vw);
    font-weight: 600;
  }

  .plan:nth-child(5) .plan-name p:nth-child(2) {
    font-size: clamp(1vw, 26px, 1.8vw);
  }
}
