.my-account {
  display: grid;
  grid-template-areas:
    "b b"
    "c e"
    "d d";
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  grid-template-rows: 1fr 200px 300px -1fr;
  gap: 20px;
  font-family: Fira Mono;
}

.my-account-layout {
  min-height: 100vh;
}

.header {
  color: white;
}

.logotype {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-account footer {
  text-align: center;
  padding: 24px 200px 24px 50px !important;
}

@media screen and (max-width: 1700px) {
  .my-account {
    grid-template-areas:
      "b b"
      "c c"
      "e e"
      "d d";
    grid-template-rows: auto;
  }

  .user-statistic {
    grid-template-columns: repeat(4, minmax(75px, 1fr));
    margin-bottom: 0;
  }
}

@media screen and (max-width: 750px) {
  .my-account {
    grid-template-rows: initial;
  }

  .user-statistic {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }

  .user-statistic p {
    margin-bottom: 0;
    font-size: 14px;
  }

  .user-statistic span {
    font-size: 20px;
  }

  .user-statistic__item {
    align-items: center;
    flex-direction: row;
    text-align: left;
  }

  .user-statistic__item img {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

@media screen and (max-width: 560px) {
  .my-account {
    column-gap: 0;
  }

  .user-statistic p {
    font-size: 12px;
  }

  .user-statistic span {
    font-size: 18px;
  }

  .user-statistic__item {
    padding: 9px;
  }

  .user-statistic__item img {
    width: 35px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 480px) {
  .platform-name {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .user-statistic {
    gap: 5px;
  }

  .user-statistic p {
    font-size: 10px;
  }

  .user-statistic__item img {
    width: 30px;
    margin-right: 4px;
  }
}
