.ant-radio-button-wrapper:first-child {
  border-inline-start: none;
}

.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: var(--alpha-blue);
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: none !important;
  color: rgba(255, 255, 255, 0.65) !important;
}

.ant-menu-dark.ant-menu-horizontal > .active-main-header {
  border-bottom: 5px solid var(--blue) !important;
  color: rgba(255, 255, 255, 1) !important;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected {
  background-color: transparent;
  border-bottom: 5px solid var(--blue);
}

.ant-form-item {
  margin-bottom: 5px;
}

.ant-result {
  padding: 20px 0;
}

.ant-layout {
  background: none;
  /*padding-top: 95px;*/
}

.ant-tabs-content-holder {
  min-height: initial;
}

.ant-statistic-title,
.ant-statistic-content-value {
  color: white !important;
}

.ant-card-bordered {
  border: none !important;
}

.ant-layout .ant-layout-sider-zero-width-trigger {
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  inset-inline-end: -30px;
}

.ant-switch-inner {
  background: #4096ff;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.payment-select .anticon {
  color: rgba(0, 0, 0, 0.4);
}

.anticon-ellipsis {
  color: white;
}

.depositRoot .ant-table-cell {
  text-align: center !important;
}

.depositRoot .ant-table-cell:nth-child(2) {
  padding-right: 25px !important;
}

.depositRoot .ant-tabs-nav-wrap {
  padding: 0 20px;
}

.levelsRoot .ant-collapse-item:not(:last-child) {
  margin-bottom: 24px !important;
}

.levelsRoot .ant-collapse-item:last-child {
  margin-bottom: 0 !important;
}

.levelsRoot .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  align-items: center !important;
}

.levelsRoot .ant-collapse-item .ant-collapse-arrow {
  color: white !important;
}

.registerFormRoot .ant-col-sm-8 {
  flex: 0 0 50% !important;
  max-width: 50% !important;
}

#normal_login .anticon {
  color: rgba(0, 0, 0, 0.25);
}

.container .ant-menu-horizontal {
  line-height: 63px !important;
}

.plans-listRoot .ant-card-head {
  background: var(--blue) !important;
  border-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;

  color: white !important;
  border-bottom: none !important;
}

.plans-listRoot .ant-card-body {
  width: 100% !important;
  display: grid;
  grid-template-columns: 0 135px 60px repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 10px;
}

.plans-listRoot .ant-list-item {
  padding: 0;
}

.transactionsListRoot .anticon {
  color: rgba(0, 0, 0, 0.5);
}

.transactionsListRoot .ant-table.ant-table-small {
  font-size: 13px;
}

.transactionsListRoot .ant-badge-status {
  width: 100%;
}

.transactionsListRoot .ant-list-item {
  padding: 12px;
}

.settingsRoot .ant-row {
  display: block;
}

.settingsRoot input {
  max-width: 500px;
}

.settingsRoot .ant-input-affix-wrapper {
  max-width: 500px;
}

.settingsRoot .ant-form-horizontal .ant-form-item-label {
  flex-grow: 0;
  text-align: initial;
}

.settingsRoot .anticon {
  color: rgba(0, 0, 0, 0.5);
}

.settingsRoot label {
  color: white !important;
}

.replenishment-modal .ant-modal-footer {
  display: none;
}

.contact-usRoot form {
  width: 50%;
}

.depositRoot .anticon {
  color: #52c41a;
}

.ant-menu-item a {
  display: block !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

.deposit .ant-radio-button-wrapper-checked span:nth-child(1) {
  background: var(--blue);
  border-radius: 20px;
  transition: 1s;
}

.deposit .ant-radio-button-wrapper-checked span:nth-child(2) div {
  color: white;
}

.deposit .ant-radio-button-wrapper-checked span:nth-child(2) div:before {
  filter: invert(1);
}

.deposit .slick-dots {
  padding-top: 10px;
}

.deposit .ant-card-body {
  padding: 0;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  background-color: transparent;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  border-color: transparent;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
  border-color: transparent;
}

.cash-in-form .ant-radio-button-wrapper {
  /*background: transparent;*/
  /*border: none;*/
}

.cash-in-form .ant-radio-button-wrapper-checked::before {
  background-color: transparent !important;
}

.cash-in-form .ant-radio-button-wrapper-checked:not(:where(.ant-radio-button-wrapper-disabled)):hover {
  border-color: transparent;
}

@media screen and (max-width: 1000px) {
  .ant-menu-item a {
    width: 100% !important;
    color: rgba(255, 255, 255, 0.7) !important;
  }
}
