@font-face {
  font-family: Rothek, "sans-serif";
  src: local("Rotnek"), url("assets/fonts/RothekBold.otf") format("opentype");
}
@import "./Ant-Custom.css";

[data-aos="new-animation"] {
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="new-animation"].aos-animate {
  opacity: 0.1;
}

:root {
  --blue: #1677ff;
  --alpha-blue: rgba(22, 119, 255, 0.25);
  --dark-blue: #001529;
  --no-active-blue: rgba(22, 119, 255, 0.25);
  --black: rgb(34, 34, 34);
  --yellow: #f5e663;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Fira Mono;
  font-weight: 400;
}

body {
  background-color: #efefef;
  color: var(--black);
  counter-reset: section;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.my-account-title {
  font-size: clamp(10px, 9vw, 50px);
  font-family: Fira Mono;
  font-weight: 600;
  position: relative;
  grid-area: a;
  margin-bottom: 75px;
  display: inline-block;
  line-height: 1.2;
}

.my-account-title:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--blue);
}

.index-layout {
  padding: 50px;
  min-height: 380px;
  background-image: url("./../src/assets/images/TEST.png"), url("./../src/assets/images/TEST.png");
  background-repeat: no-repeat, no-repeat;
  background-position: -400px 550px, right -300px top 1570px, left 0 top 2070px, left -400px top 3770px;
  background-size: 800px, 800px;
  overflow: hidden;
}

.affilate-roadmap-wrapper {
  background-image: url("assets/images/roadmap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 -50px;
  padding-bottom: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h3 {
  font-size: clamp(10px, 7vw, 60px);
}

.section-title {
  font-size: clamp(10px, 8.5vw, 60px);
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  color: var(--dark-blue);
  /*margin-bottom: 40px;*/
}

.slick-slide > div {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.accountRoot .slick-slide > div {
  height: 230px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.accountRoot .slick-dots li {
  width: 100%;
  margin: 0;
}

.accountRoot .slick-dots li button:before {
  border-radius: 50%;
  height: 7px !important;
  width: 7px !important;
}

.slick-dots li.slick-active button:before {
  background: var(--blue) !important;
}

.accountRoot .slick-list {
  left: -5px;
}

.accountRoot .slick-dots {
  display: grid !important;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  margin-bottom: 7px;
}

.accountRoot .slick-dots li button:before {
  content: "";
  width: 100%;
  height: 5px;
  background: rgba(0, 0, 0, 0.3);
}

.plansRoot .slick-slide {
  margin-right: 20px !important;
  height: 100%;
}

.slick-track {
  display: flex !important;
}

@media screen and (max-width: 1000px) {
  .plans-listRoot .ant-card-body {
    padding: 15px;
    gap: 0;
  }
  .affilate-roadmap-wrapper {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 750px) {
  .index-layout {
    padding: 25px;
    min-height: 380px;
  }

  .accountRoot .slick-slide {
    /*margin-right: 10px !important;*/
  }

  .accountRoot .slick-list {
    margin-right: -10px !important;
  }

  .contact-usRoot form {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .ant-layout-header {
    padding-inline: 20px !important;
  }
}
