@font-face {
  font-family: Rothek, "sans-serif";
  src: local("Rotnek"), url("assets/fonts/RothekBold.otf") format("opentype");
}

/**, *::before, *::after {*/
/*  outline: 1px solid red;*/
/*  z-index: 999;*/
/*}*/

:root {
  --blue: #1677ff;
  --alpha-blue: rgba(22, 119, 255, 0.25);
  --dark-blue: #001529;
  --no-active-blue: rgba(22, 119, 255, 0.25);
  --black: rgb(34, 34, 34);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Fira Mono;
  font-weight: 400;
}

body {
  background-color: #e7e7e7;
  color: var(--black);
  counter-reset: section;

  /*height: 100%;*/
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.my-account-title {
  font-size: clamp(10px, 9vw, 50px);
  font-family: Fira Mono;
  font-weight: 600;
  position: relative;
  grid-area: a;
  margin-bottom: 75px;
  display: inline-block;
}

.my-account-title:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--blue);
}

.index-layout {
  padding: 50px;
  min-height: 380px;
  background-image: url("./../src/assets/images/TEST.png"), url("./../src/assets/images/TEST.png");
  background-repeat: no-repeat, no-repeat;
  background-position: -600px 350px, right -400px top 1570px;
  background-size: 1500px;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  /*padding: 0 20px;*/
}

h3 {
  font-size: clamp(10px, 7vw, 60px);
}

.section-title {
  font-size: clamp(10px, 8.5vw, 60px);
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.slick-slide > div {
  margin-left: 10px !important;
  margin-right: 10px !important;
  /*height: 230px;*/
}

.accountRoot .slick-slide > div {
  /*margin-right: 20px !important;*/
  height: 200px;
  padding-top: 10px;
  /*height: 200px;*/
}

.accountRoot .slick-dots li {
  width: 100%;
  margin: 0;
  /*height: 5px;*/
}

.accountRoot .slick-list {
  left: -5px;
}

.accountRoot .slick-dots {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.accountRoot .slick-dots li button:before {
  content: "";
  width: 100%;
  height: 5px;
  background: rgba(0, 0, 0, 0.3);
}

.plansRoot .slick-slide {
  margin-right: 20px !important;
  height: 100%;
}

.plans-listRoot .ant-card-head {
  background: var(--blue) !important;
  border-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;

  color: white !important;
  border-bottom: none !important;
}

.plans-listRoot .ant-card-body {
  width: 100% !important;
  display: grid;
  grid-template-columns: 0 1fr 1fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 10px;
}

.plans-listRoot .ant-list-item {
  padding: 0;
}

.transactionsListRoot .anticon {
  color: rgba(0, 0, 0, 0.5);
}

.transactionsListRoot .ant-table.ant-table-small {
  font-size: 13px;
}

.transactionsListRoot .ant-badge-status {
  width: 100%;
}

.transactionsListRoot .ant-list-item {
  padding: 12px;
}

.settingsRoot .ant-row {
  display: block;
}

.settingsRoot input {
  max-width: 500px;
}

.settingsRoot .ant-input-affix-wrapper {
  max-width: 500px;
}

.settingsRoot .ant-form-horizontal .ant-form-item-label {
  flex-grow: 0;
  text-align: initial;
}

.replenishment-modal .ant-modal-footer {
  display: none;
}

.contact-usRoot form {
  width: 50%;
}

.slick-track {
  display: flex !important;
  /*top: -10px !important;*/
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
}

.slick-list {
  /*padding-top: 10px !important;*/
  /*margin-right: -20px !important;*/
  /*padding: 20px 0 10px 2px !important;*/
  /*overflow: initial !important;*/
  /*overflow-x: hidden !important;*/
}

#normal_login .anticon {
  color: rgba(0, 0, 0, 0.25);
}

.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: var(--alpha-blue);
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: none !important;
  color: rgba(255, 255, 255, 0.65) !important;
}

.ant-menu-dark.ant-menu-horizontal > .active-main-header {
  border-bottom: 5px solid var(--blue) !important;
  color: rgba(255, 255, 255, 1) !important;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected {
  background-color: transparent;
  border-bottom: 5px solid var(--blue);
}

.ant-form-item {
  margin-bottom: 15px;
}

.ant-layout {
  background: none;
}

.ant-tabs-content-holder {
  min-height: initial;
}

.ant-statistic-title,
.ant-statistic-content-value {
  color: white !important;
}

.ant-card-bordered {
  border: none !important;
}

.ant-layout .ant-layout-sider-zero-width-trigger {
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  inset-inline-end: -30px;
}

.ant-switch-inner {
  background: #4096ff;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.anticon {
  color: white;
}

.payment-select .anticon {
  color: rgba(0, 0, 0, 0.4);
}

.anticon-ellipsis {
  color: white;
}

.depositRoot .ant-table-cell {
  text-align: center !important;
}

.depositRoot .ant-table-cell:nth-child(2) {
  padding-right: 25px !important;
}

.levelsRoot .ant-collapse-item:not(:last-child) {
  margin-bottom: 24px !important;
}

.levelsRoot .ant-collapse-item:last-child {
  margin-bottom: 0 !important;
}

.levelsRoot .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  align-items: center !important;
}

.levelsRoot .ant-collapse-item .ant-collapse-arrow {
  color: white !important;
}
@media screen and (max-width: 1000px) {
  .plans-listRoot .ant-card-body {
    padding: 15px;
    gap: 0;
  }
}

@media screen and (max-width: 750px) {
  .index-layout {
    padding: 25px;
    min-height: 380px;
  }

  .accountRoot .slick-slide {
    /*margin-right: 10px !important;*/
  }

  .accountRoot .slick-list {
    margin-right: -10px !important;
  }

  .contact-usRoot form {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .ant-layout-header {
    padding-inline: 20px !important;
  }
}
