.header {
  color: white !important;
  height: 80px !important;
  display: flex;
  align-items: center;
}

.header a {
  height: 100%;
  z-index: 20;
}

.user-info {
  margin-left: auto;
}

.user-info p {
  line-height: 2;
}

.user-info__name {
  font-weight: 600;
  font-size: 15px;
}

.user-info__balance {
  color: rgba(255, 255, 255, 0.5);
}

.user-avatar {
  position: relative;
  display: block;
  margin-left: 30px;
}
