.header {
  color: white !important;
  height: 100px !important;
  display: flex;
  align-items: center;
  z-index: 111;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 10px 20px;
}

.header a {
  height: 100%;
  z-index: 20;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user-info img {
  margin-right: 30px;
  width: 60px;
  height: 60px;
}

.user-info p {
  line-height: 2;
}

.user-info__name {
  font-weight: 600;
  font-size: 15px;
}

.user-info__balance {
  color: rgba(255, 255, 255, 0.5);
}

.user-avatar {
  position: relative;
  display: block;
  margin-left: 30px;
}

.logotype {
  position: relative;
  /*left: -100px;*/
  transition: 0.2s;
}

.logotype-sider {
  transition: 0.2s;
  position: relative;
  /*left: -220px;*/
}

.choose-language {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.choose-language button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-language button:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .logotype {
    left: 0;
  }

  .logotype-sider {
    left: 0;
  }
}
