.project-statistic {
  padding: 25px;
}

.info-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}

.info ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
}

.info ul li {
  display: flex;
}

.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.info p {
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--blue);
}

.info p img {
  margin-right: 20px;
}

.info span {
  font-weight: 400;
  color: black;
}

.project-image {
  margin-right: 50px;
  border-radius: 20px;
  object-fit: cover;
}

.additional-info-list {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.additional-info-list li {
  padding: 15px 20px;
  font-size: 22px;
  font-weight: 600;
  background-color: var(--blue);
  border-radius: 15px;
  color: white;
  text-align: center;
}

.additional-info-list li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.total-investment {
  width: 100%;
  margin-bottom: 50px;
}

.total-investors {
  width: 100%;
  margin-bottom: 50px;
}

.countries,
.payments {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
}

.countries-wrapper,
.payments-wrapper {
  width: 50%;
  text-align: center;
}
.countries-wrapper h2,
.payments-wrapper h2 {
  font-weight: 500;
  margin-bottom: 15px;
}

.slider {
  width: 50%;
  margin-right: 25px;
  position: relative;
}

.custom-arrows {
  position: absolute;
  bottom: -65px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  gap: 15px;
}

.custom-arrows button {
  padding: 10px;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 5px;
}

.pie-charts {
  display: flex;
}

.countries canvas,
.payments canvas {
  height: 100% !important;
  width: 100% !important;
}

.charts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 250px 1fr;
}

@media screen and (max-width: 1350px) {
  .info-wrapper {
    flex-direction: column;
  }

  .slider {
    margin-bottom: 100px;
    width: 70%;
  }

  .info ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .info-wrapper {
    margin-bottom: 25px;
  }

  .countries-wrapper h2,
  .payments-wrapper h2 {
    font-size: 14px;
  }

  .additional-info-list li {
    font-size: 18px;
    padding: 10px 15px;
  }

  .additional-info-list li span {
    font-size: 12px;
  }
}

@media screen and (max-width: 1050px) {
  .slider {
    width: 100%;
  }

  .info ul {
    grid-template-columns: 1fr;
  }

  .additional-info-list {
    grid-template-columns: 1fr 1fr;
  }

  .pie-charts {
    display: block;
  }

  .countries-wrapper {
    width: 80%;
    margin: 0 auto 30px;
  }

  .payments-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .slider {
    margin-right: 0;
  }

  .slider img {
    height: 200px;
  }

  .project-statistic {
    padding: 0;
  }

  .additional-info-list {
    grid-template-columns: 1fr;
  }

  .info ul {
    gap: 20px;
    font-size: 14px;
  }

  .info-icon {
    width: 20px;
    height: 20px;
  }

  .countries-wrapper {
    /*margin: auto;*/
  }

  .payments-wrapper {
    margin: auto;
  }

  .charts {
    /*grid-template-columns: 250px;*/
  }
}
