.faq {
  padding: 100px 0;
}

.faq h3 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
  color: var(--blue);
}

.faq h2 {
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 15px;
}

.subtitle {
  text-align: center;
  margin-bottom: 70px;
}

.faq-collapse {
  max-width: 650px;
  margin: 0 auto;
}
