.enter-amount {
  max-width: 430px;
  margin-bottom: 30px;
}

.enter-amount input {
  width: 100%;
}

.enter-amount h3 {
  font-size: 22px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.enter-amount h3 span {
  font-size: 40px;
  font-weight: 600;
  color: var(--blue);
  margin-right: 10px;
}

.currency {
  font-weight: 600;
  font-size: 16px;
  padding-left: 15px;
}

.input-wrapper {
  display: grid;
  /*grid-template-columns: 1fr 1fr;*/
}
